/* Password page */
.passwordPage {
    height: 100vh;
    display: none;
    flex-direction: column;
}

.password-container {
    margin-top: 50px;
    text-align: center;
}
.PassordInputFeild {
    width: 40%;
    padding: 10px;
    font-size: 16px;
}
.ToggleVisibilityIcon {
    color: black;
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
}
.passwordBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
}